<!DOCTYPE html>
{% load static %}
<html>

	<title></title>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'lihatpapua/css/style.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	</head>
	<body>
		<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark"> -->
			<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
	    <div class="container">
	      <a href="index.html" class="navbar-brand">lihatpapua</a>
	      <button class="navbar-toggler" data-toggle="collapse" data-target="#navNavbar"><span class="navbar-toggler-icon"></span></button>
				<div class="collapse navbar-collapse" id="navNavbar">
	        <ul class="navbar-nav mr-auto">
	          <li class="nav-item">
	            <a href="index.html" class="nav-link">Solutions</a>
	          </li>
	          <li class="nav-item">
	            <a href="maps" class="nav-link">Maps</a>
	          </li>
	          <li class="nav-item">
	            <a href="data-viz.html" class="nav-link">Visualization</a>
	          </li>
	          <li class="nav-item">
	            <a href="data.html" class="nav-link">Data</a>
	          </li>
	        </ul>

					<ul class="navbar-nav ml-auto">
	          <li class="nav-item">
	            <a href="login.html" class="nav-link">Log In</a>
	          </li>
	          <li class="nav-item pl-2 started">
	            <a href="startnow.html" class="btn btn-primary">Get Started</a>
	          </li>
	        </ul>
	      </div>
	    </div>
	  </nav>


		<!-- Showcase -->
		<section id="showcase" class="py-5">
			<div class="primary-overlay text-white">
				<div class="container">
					<div class="row pb-5">
						<div class="col">
							<h1 class="display-2 mt-5 pt-5">Turn Location</h1>
							<h1 class="display-2">Data into</h1>
							<h1 class="display-2">Business Outcomes</h1>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Try Now-->
		<section id="try-baloon" class="bg-dark text-white pt-3 mx-auto">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<p class="lead">CARTO is Lorem ipsum dolor sit amet, consect soluta eligendi excepturi beatae inventore incidunt!</p>
					</div>
					<div class="col-md-3">
						<a href="#" class="btn btn-danger btn-block btn-lg">Try Now</a>
					</div>
				</div>
			</div>
		</section>
<div class="hr"></div><hr>
	<section id="introduction">
		<div class="container pb-5">
			<div class="row">
				<div class="col-md-6">
					<img src="{% static "lihatpapua/img/maps.jpg" %}" class="img-fluid">
				</div>
				<div class="col-md-6 align-self-center pl-5">
					<h1 class="title">Lorem Ipsum</h1>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea excepturi sint consectetur sapiente. Commodi impedit eligendi dignissimos, voluptatem unde. Rerum illo eaque dolor natus doloremque. Minima harum vel maxime tempora iste doloribus laudantium error accusamus non, in quidem, repellendus consectetur.</p>
					<a href="" class="btn btn-primary btn-lg">Learn More</a>
				</div>
			</div>
		</div>
	</section>
<hr class="hr">

	<section id="solution">
		<div class="container pb-5">
			<div class="row">
				<div class="col-md-6 align-self-center pl-5">
					<h1 class="title">Lorem Ipsum</h1>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea excepturi sint consectetur sapiente. Commodi impedit eligendi dignissimos, voluptatem unde. Rerum illo eaque dolor natus doloremque. Minima harum vel maxime tempora iste doloribus laudantium error accusamus non, in quidem, repellendus consectetur.</p>
					<a href="" class="btn btn-primary btn-lg">Learn More</a>
				</div>
				<div class="col-md-6">
					<img src="{% static "lihatpapua/img/maps.jpg" %}" class="img-fluid">
				</div>
			</div>
		</div>
	</section>

		<footer id="main-footer" class="py-5 bg-primary text-white">
			<div class="container">
				<div class="row">
					<div class="col-md-6 ml-auto">
						<h5>lihatpapua</h5>
					</div>
					<div class="col-md-2 ml-auto">
						<h5>Resources</h5>
						<p class="lead">Resources</p>
						<p class="lead">Resources</p>
						<p class="lead">Resources</p>
					</div>
					<div class="col-md-2 ml-auto">
						<h5>Solutions</h5>
						<p class="lead">Solutions</p>
						<p class="lead">Solutions</p>
						<p class="lead">Solutions</p>
					</div>
					<div class="col-md-2 ml-auto">
						<h5>About Us</h5>
						<p class="lead">Hajaa</p>
						<p class="lead">Hajaa</p>
						<p class="lead">Hajaa</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 pt-5">
						<p class="lead">&copy; lihatpapua 2018</p>
					</div>
						<div class="p-4">
							<a href="#"><i class="fab fa-facebook"></i></a>
						</div>
						<div class="p-4">
							<a href="#"><i class="fab fa-twitter"></i></a>
						</div>
						<div class="p-4">
							<a href="#"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
					</div>
				</div>
			</div>
		</footer>


<!--	  <section id="showcase">
	    <div id="myCarousel" class="carousel slide" data-ride="carousel">
	      <ol class="carousel-indicators">
	        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	        <li data-target="#myCarousel" data-slide-to="1"></li>
	        <li data-target="#myCarousel" data-slide-to="2"></li>
	      </ol>
	      <div class="carousel-inner">
	        <div class="carousel-item carousel-image-1 active">
	          <div class="container">
	            <div class="carousel-caption d-none d-sm-block text-right mb-5">
	              <h1 class="display-3">Heading One</h1>
	              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae consequuntur architecto eius magni nobis nulla eaque. Deserunt sunt, distinctio quos.</p>
	              <a href="#" class="btn btn-danger btn-lg">Sign Up Now</a>
	            </div>
	          </div>
	        </div>

	        <div class="carousel-item carousel-image-2">
	          <div class="container">
	            <div class="carousel-caption d-none d-sm-block mb-5">
	              <h1 class="display-3">Heading Two</h1>
	              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae consequuntur architecto eius magni nobis nulla eaque. Deserunt sunt, distinctio quos.</p>
	              <a href="#" class="btn btn-primary btn-lg">Learn More</a>
	            </div>
	          </div>
	        </div>

	        <div class="carousel-item carousel-image-3">
	          <div class="container">
	            <div class="carousel-caption d-none d-sm-block text-right mb-5">
	              <h1 class="display-3">Heading Three</h1>
	              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae consequuntur architecto eius magni nobis nulla eaque. Deserunt sunt, distinctio quos.</p>
	              <a href="#" class="btn btn-success btn-lg">Learn More</a>
	            </div>
	          </div>
	        </div>
	      </div>

	      <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
	        <span class="carousel-control-prev-icon"></span>
	      </a>

	      <a href="#myCarousel" data-slide="next" class="carousel-control-next">
	        <span class="carousel-control-next-icon"></span>
	      </a>
	    </div>
	  </section>  -->

 <!--
<section id="home-icons" class="py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-4 mb-4 text-center">
				<i class="fa fa-cog mb-2"></i>
				<h3>Turning Gears</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, impedit.</p>
			</div>
			<div class="col-md-4 mb-4 text-center">
				<i class="fa fa-cloud mb-2"></i>
				<h3>Sending Data</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, impedit.</p>
			</div>
			<div class="col-md-4 mb-4 text-center">
				<i class="fa fa-cart-plus mb-2"></i>
				<h3>Making Money</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, impedit.</p>
			</div>
			</div>
		</div>
	</div>
</section>
 -->
<!-- Home heading section
<section id="home-heading" class="p-5">
	<div class="dark-overlay">
		<div class="row">
			<div class="col">
				<div class="container pt-5">
					<h1>Are you ready?</h1>
					<p class="d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quibusdam et sed nihil reprehenderit suscipit quisquam voluptatibus cumque, aliquam corrupti!</p>
				</div>
			</div>
		</div>
	</div>
</section>-->

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script type="text/javascript" src="{% static "lihatpapua/js/scroll.js" %}"></script>
	</body>
</html>
